{% set company = frappe.get_doc("Company", doc.company) %}
{% set afip_settings = frappe.get_doc("AFIP Settings", None) %}

<style>
    .bold {
        font-weight: bold;
    }
</style>

<div class="row">
    <div class="col-md-6">
        <h1>{{ doc.company }}</h1>
        <p><span class="bold">Razon Social: {{ company.get_formatted("business_name") }}</span></p>
        <p><span class="bold">Domicilio Comercial: {{ company.get_formatted("comercial_address") }}</span></p>
        <p><span class="bold">Condicion frente al IVA: {{ company.get_formatted("iva_condition") }}</span></p>
    </div>

    <div class="col-md-6">
        {% if doc.invoice_type == afip_settings.export_invoice_code %}
            <h5>FACTURA DE EXPORTACION</h5>
        {% else %}
            <h5>FACTURA</h5>
        {% endif %}
        <p class="bold">Punto de Venta: {{ '%04d' % (doc.point_of_sale | int) }}</p>
        <p class="bold">Compr. Nro: {{ '%08d' % (doc.afip_voucher_number | int) }}</p>
        <p class="bold">Fecha de Emision: {{ doc.get_formatted("posting_date") }}</p>
        <p><span class="bold">CUIT: </span>{{ company.get_formatted("cuit") }}</p>
        <p><span class="bold">Ingresos Brutos: </span>{{ company.get_formatted("ingresos_brutos") }}</p>
        <p><span class="bold">Fecha de Inicio de Actividades: </span>{{ company.get_formatted("start_date") }}</p>
        {% if doc.invoice_type == afip_settings.export_invoice_code %}
            <p class="bold">IVA EXENTO OPERACION DE EXPORTACION</p>
        {% endif %}
    </div>
</div>

{% if doc.concept in ("2", "3") %}
<div class="row" style="margin-top: 20px">
    <div class="col-md-5">
        <p><span class="bold">Periodo Facturado Desde: </span>{{ doc.get_formatted("service_start_date") }}</p>
    </div>
    <div class="col-md-3">
        <p><span class="bold">Hasta: </span>{{ doc.get_formatted("service_end_date") }}</p>
    </div>
    <div class="col-md-4">
        <p><span class="bold">Fecha de Vto de pago: </span>{{ doc.get_formatted("payment_due_date") }}</p>
    </div>
</div>
{% endif %}

{% if doc.invoice_type != afip_settings.export_invoice_code %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            {% if doc.get_customer().get_id_type() is not none and doc.get_customer().get_id_type().id_name is not none %}<p><span class="bold">{{ doc.get_customer().get_id_type().id_name }}:</span>{{doc.get_customer().id_number }}</p>{% endif %}
            <p><span class="bold">Condicion frente al IVA:</span> {{ doc.get_customer().get_formatted("iva_condition") }}</p>
            <p><span class="bold">Condicion de venta:</span> {{ doc.get_formatted("sale_condition") }}</p>
        </div>
        <div class="col-md-6">
            <p><span class="bold">Apellido y Nombre / Razon Social: </span>{{ doc.get_customer().customer_name }}</p>
            <p><span class="bold">Domicilio Comercial: </span>{% if doc.get_customer_address() is not none %}{{ doc.get_customer_address().get_as_string() }}{% endif %}</p>
        </div>
    </div>

{% else %}
    <div class="row" style="margin-top: 20px">
        <div class="col-md-5">
            <p><span class="bold">Se&ntilde;or(es): </span>{{ doc.get_customer().customer_name }}</p>
            <p><span class="bold">CUIT Pais: </span>{% if doc.get_customer().get_id_type() is not none %}{{ doc.get_customer().get_id_type().id_name }}{% endif %}</p>
            <p><span class="bold">ID Impositivo: </span>{{ frappe.format_value(doc.get_customer().id_number, {"fieldtype": "Data"}) }}</p>
        </div>
        <div class="col-md-5">
            <p><span class="bold">Domicilio: </span>{% if doc.get_customer_address() is not none %}{{ doc.get_customer_address().get_as_string() }}{% endif %}</p>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-5">
            <p><span class="bold">Divisa: </span>{{ doc.get_currency().currency_name }}</p>
            <p><span class="bold">Destino Comprobante: </span>{{ doc.export_country }}</p>
            <p><span class="bold">Condicion de venta:</span> {{ doc.get_formatted("sale_condition") }}</p>
        </div>
    </div>

{% endif %}
<div class="row" style="margin-top: 20px">
    <table class="table">
        <thead class="thead-light">
            <tr>
              <th scope="col">Codigo</th>
              <th scope="col">Producto</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unitario ({{ doc.get_currency().currency_name }})</th>
                <th scope="col">Bonificacion ({{ doc.get_currency().currency_name }})</th>
                <th scope="col">Subtotal ({{ doc.get_currency().currency_name }})</th>
                {% if doc.invoice_type == "1" %}
                    <th>Alicuota IVA ({{ doc.get_currency().currency_name }})</th>
                    <th>Subtotal c/IVA ({{ doc.get_currency().currency_name }})</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>{{ doc.get_formatted("afip_description") }}</td>
                <td>1.00</td>
                <td>{{ doc.get_formatted("total") }}</td>
                <td>{{ doc.get_formatted("discount_amount") }}</td>
                <td>{{ doc.get_formatted("grand_total") }}</td>
                {% if doc.invoice_type == "1" %}
                    <td>{{ frappe.format_value(doc.get_iva_rate(),{"fieldtype":"Currency"}) }}</td>
                    <td>{{ frappe.format_value(doc.grand_total + doc.get_iva_rate(),{"fieldtype":"Currency"}) }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>


<div class="row" style="margin-top: 20px">
     {% if doc.invoice_type == afip_settings.export_invoice_code %}
        <div class="col-md-4">
            <p><span class="bold">Tipo de cambio: {{ doc.get_formatted("conversion_rate") }}</span></p>
        </div>
        <div class="col-md-offset-4 col-md-4">
            <p><span class="bold">Divisa: </span>{{ doc.get_currency().currency_name }}</p>
            <p><span class="bold">Importe Total: {{ doc.get_formatted("grand_total") }}</span></p>
        </div>
    {% else %}
        <div class="col-md-offset-8 col-md-4">
        <!-- Tipos de IVA si es Factura A (1) -->
            <div class="row">
            {% if doc.invoice_type == "1" %}
                <div class="col-md-6">
                    <p class="bold">Importe Neto:</p>
                    {% for iva_type in doc.get_afip_service().ParamGetTiposIva() %}
                        <p class="bold">IVA {{ iva_type.descripcion }}:</p>
                    {% endfor %}
                    <p class="bold">Importe Total:</p>
                </div>
                <div class="col-md-6">
                    <p class="bold">{{ doc.get_formatted("grand_total") }}</p>
                    {% for iva_type in doc.get_afip_service().ParamGetTiposIva() %}
                        {% if iva_type.id == doc.iva_type %}
                            <p class="bold">{{ doc.get_currency().symbol }} {{ frappe.format_value(doc.get_iva_rate(),{"fieldtype":"Currency"}) }}</p>
                        {% else %}
                            <p class="bold">{{ doc.get_currency().symbol }} {{ frappe.format_value(0, {"fieldtype":"Currency"}) }}</p>
                        {% endif %}
                    {% endfor %}
                    <p class="bold">{{ doc.get_currency().symbol }} {{ frappe.format_value(doc.grand_total + doc.get_iva_rate(), {"fieldtype":"Currency"}) }}</p>
                </div>
            {% else %}
                <div class="col-md-6">
                    <p class="bold">Importe Total:</p>
                </div>
                <div class="col-md-6">
                    <p class="bold">{{ doc.get_formatted("grand_total") }}</p>
                </div>
            {% endif %}
            </div>
        </div>
    {% endif %}

</div>

<div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-md-offset-8">
        <p><span class="bold">CAE: </span>{{ doc.get_formatted("cae") }}</p>
        <p><span class="bold">Fecha de Vto de CAE: </span>{{ doc.get_formatted("cae_due_date") }}</p>
    </div>
</div>


